.explorar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  margin: 10vh auto;
  padding-top: 5vh;
  padding-bottom: 30vh;
  max-width: 60vw;
}

.explorar-container button {
  border-left: 8px solid rgb(255, 134, 0);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 16pt;
  font-weight: 300;
  margin: 5vh 0 0;
  width: 100%;
}

.explorar-container button:hover {
  opacity: 0.75;
}

.explorar-ingr {
  margin-left: 2vw;
  margin-top: 2vh;
  margin-right: 8vw;
  margin-bottom: 10vh;
}

.explr-area-dpdown {
  margin-left: 6vw;
  margin-top: 3vh;
}

.btn-container-explorar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  margin: 25vh 20vw;
}
