.explorar-page {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.explorar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20vh auto;
  width: 60vw;
}

.explorar-container button {
  border-left: 8px solid rgb(255, 134, 0);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 14pt;
  margin-top: 10vh;
  height: 7vh;
}

.explorar-container button:hover {
  opacity: 0.75;
}

.explorar-ingr {
  margin-left: 2vw;
  margin-top: 2vh;
  margin-right: 8vw;
  margin-bottom: 10vh;
}

.explr-area-dpdown {
  margin-left: 35vw;
  margin-top: 3vh;
}

.explr-area-dpdown select {
  border: none;
  padding: 1vh 1vw 1vh 2vw;
}

.btn-container-explorar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  padding: 30vh 20vw;
}

.explorar-btn {
  background-color: rgb(255, 174, 13);
  border-radius: 20px;
  margin: 1vh 0.5vw;
}

.explorar-categ-buttons {
  background-color: rgb(255, 174, 13);
  border-radius: 20px;
}

@media (min-width: 400px) {
  .explorar-page {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
  }

  .explorar-container {
    margin: 20vh auto;
    width: 23vw;
  }

  .explorar-container button {
    font-size: 18pt;
    height: 7vh;
    width: 22vw;
  }

  .btn-container-explorar {
    padding-left: 35vw;
  }

  .explorar-categ-buttons {
    background-color: rgb(255, 174, 13);
    border-radius: 20px;
    font-size: 18pt;
    margin-top: 3vh;
    width: 30vw;
  }

  .explr-area-dpdown {
    margin-left: 45vw;
  }

  .explr-area-dpdown select {
    font-size: 18pt;
  }
}
