.card-btn {
  background-color: rgb(242, 231, 218);
  border: none;
  width: 45vw;
}

.card-btn:focus {
  opacity: 0.8;
  outline: none;
}

.card {
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  margin: 1.5vh 0;
  width: 40vw;
}

.card .card-description {
  padding-top: 2vh;
  padding-bottom: 0;
}

.card:hover {
  background-color: rgb(255, 174, 13);
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.25);
}

.card-image-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 70%;
  width: 100%;
}

.hidden {
  display: none;
}

.home-body {
  margin-bottom: 10vh;
  margin-right: 3vw;
}

.card-rec {
  background-color: rgb(242, 231, 218);
  border: none;
  width: 40vw;
}

.card-rec:focus {
  opacity: 0.9;
  outline: none;
}

@media (min-width: 400px) {
  .card {
    width: 12vw;
  }

  .card-rec {
    width: 12vw;
  }

  .home-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10vw 10vh;
  }
}
