.details-page {
  background-color: rgb(242, 231, 218);
  width: 360px;
}

.header-pic {
  height: 30vh;
  width: 360px;
}

.details-header {
  /* border: 3px solid green; */
  display: flex;
  justify-content: space-between;
  margin: 2vh auto 3vh;
  max-width: 85vw;
}

.title-side h2 {
  color: rgb(255, 134, 0);
  font-weight: 400;
}

.title-side h5 {
  color: rgb(92, 92, 92);
  font-style: italic;
  font-weight: 300;
}

.icon-side {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vh 1vw 0;
}

.det-btn {
  background-color: rgb(242, 231, 218);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .det-btn:hover {
  opacity: 0.8;
}

.det-btn:focus {
  border: none;
  outline: none;
} */

.det-btn span {
  color: rgb(255, 134, 0);
  font-size: 12px;
  text-emphasis: wrap;
}

.details-body {
  margin: 1vh auto;
  max-width: 85vw;
}

/* arquivo ComidaDetalhes */
/* .topic-container {
  margin: 3vh 0;
} */

.topic-title {
  font-weight: 400;
  border-bottom: 1px solid rgb(255, 134, 0);
  margin: 3vh 2vw 2vh 0;
  /* letter-spacing: 0.3vw; */
}

.list-container {
  background-color: rgb(245, 245, 245);
  max-width: 75vw;
  border-radius: 25px;
  padding: 2vh 0;
  font-size: 14px;
}

.card-container {
  background-color: rgb(242, 231, 218);
  display: flex;
  justify-content: space-between;
  padding-bottom: 10vh;
  width: 85vw;
}

.start-btn {
  background-color: rgb(255, 134, 0);
  border: none;
  border-radius: 15px;
  bottom: 0;
  margin: 3vh auto;
  padding: 1vh 5vw;
  position: fixed;
};
