/* :root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  --bg-img: url('/src/images/background/bg-light-center.png');
  --bg-color: #f5f5f5;
  --off-black: #141414;
  --off-white: #f5f5f5;
  --off-gray: #5c5c5c;
  --bege: #f2e7da;
  --laranja: rgb(255, 134, 0);
  --amarelo: #ffae0d;
} */

.header-comp {
  background-color: rgb(255, 134, 0);
  position: relative;
}

.header-comp button img:hover {
  opacity: 0.5;
}

.header-comp .header-title {
  left: 50%;
  padding-top: 1.5vh;
  position: absolute;
  transform: translate(-50%, 0);
}

/* inicio do footer  */
.footer-comp {
  background-color: rgb(255, 134, 0);
  position: fixed;
}

.footer-comp button {
  background: none;
  border: none;
}

.header-comp button:focus , .footer-comp button:focus {
  opacity: 0.9;
  outline: none;
}
