/* :root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  --bg-img: url('/src/images/background/bg-light-center.png');
  --bg-color: #f5f5f5;
  --off-black: #141414;
  --off-white: #f5f5f5;
  --off-gray: #5c5c5c;
  --bege: #f2e7da;
  --laranja: rgb(255, 134, 0);
  --amarelo: #ffae0d;
} */

.header-comp {
  position: relative;
  height: 10vh;
  padding-left: 12vw;
}

.header-comp button img:hover {
  opacity: 0.5;
}

.header-comp .header-title {
  top: 3.5vh;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

/* inicio do footer  */
.footer-comp {
  position: fixed;
}

.footer-comp button {
  background: none;
  border: none;
}

.header-comp button:focus , .footer-comp button:focus {
  opacity: 0.9;
  outline: none;
}

.nav-icon {
  height: 26px;
  width: auto;
}

@media (min-width: 400px) {
  .nav-icon {
    height: 45px;
    width: auto;
  }
  
  .header-comp {
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .footer-comp {
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .header-title {
    font-size: 24pt;
  }
}