.card-horizontal {
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  width: 90vw;
  margin: 3vh auto;
  padding: 2%;
}

.hcard-img {
  border-radius: 15px;
  height: 25vh;
  width: auto;
  margin-left: 0;
}

.hcard-title {
  font-size: 11pt;
  padding: 1vh 1vw;
}

.hcard-title h4 {
  font-size: 14pt;
  padding-top: 1vh;
}

.hcard-details {
  font-size: 11pt;
}

.hcard-btns {
  display: inline-block;
  flex-flow: row;
  align-content: space-around;
  font-size: 8pt;
}

.hcard-btns img {
  height: 20px;
}

.h-tags {
  display: inline-block;
  background-color: #cccccc;
  border-radius: 10px;
  font-size: 10pt;
  padding: 3%;
}