.card-horizontal {
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  width: 90vw;
  margin: 3vh auto;
  padding: 2%;
}

.hcard-img {
  border-radius: 15px;
  height: 20vh;
  width: auto;
}

.hcard-info {
  padding-left: 2vw;
}

.hcard-title {
  font-size: 11pt;
  padding: 1vh 1vw;
}

.hcard-title h4 {
  font-size: 12pt;
  padding-top: 1vh;
}

.hcard-details {
  padding-left: 1vw;
  font-size: 11pt;
}

.hcard-btns {
  display: inline-block;
  flex-flow: row;
  align-content: space-around;
  font-size: 8pt;
}

.hcard-btns img {
  height: 20px;
}

.h-tags {
  display: inline-block;
  color: rgb(255, 134, 0);
  border-radius: 10px;
  font-size: 10pt;
  padding: 3%;
  margin-left: 1vw;
}

.h-tags:hover {
  cursor: default;
}

@media (min-width: 400px) {
  .favdone-card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card-horizontal {
    max-width: 30vw;
  }

  .hcard-title {
    font-size: 14pt;
    padding: 1vh 1vw 1vh 0;
  }
  
  .hcard-title h4 {
    font-size: 16pt;
  }

  .hcard-details {
    padding-left: 0;
    font-size: 12pt;
  }

  .hcard-btns img {
    height: 40px;
  }

  .h-tags {
    margin-left: 0.5vw;
  }
}