.cat-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1vh auto;
  max-width: 95vw;
}

.cat-btn {
  background-color: rgb(255, 174, 13);
  border-radius: 18px;
  height: 5vh;
  margin: 1vh 0.2vw;
  min-width: 42vw;
}

.cat-btn:hover {
  opacity: 0.6;
}

.cat-btn:focus , .cat-btn:disabled {
  border: none;
  outline: none;
}

.search-container {
  padding: 2vh 5vw;
  text-align: center;
}

.radio-container {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin: 1vh auto;
  max-width: 90%;
  padding: 0 1vw;
}

.radio-opt label {
  padding: 2px 0;
}
