.cat-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90vw;
  margin: 1vh auto;
}

.cat-btn {
  background-color: var(--amarelo);
  border-radius: 18px;
  margin: 1vh 0.2vh;
  width: 100px;
}

.cat-btn:hover {
  opacity: 0.6;
}

.cat-btn:focus,
.cat-btn:disabled {
  outline: none;
  border: none;
}
