.card-btn {
  background-color: var(--off-white);
  border: none;
}

.card-btn:focus {
  opacity: 0.8;
  outline: none;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 31vh;
  margin: 1vh 0;
  width: 160px;
}

.card .card-description {
  padding: 8% 1%;
}

.card:hover {
  background-color: var(--amarelo);
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.25);
}

.card-image-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 70%;
  width: 100%;
}
