.card-btn {
  border: none;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 31vh;
  margin: 1vh 0;
  width: 45vw;
}

.card-image-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 75%;
  width: 100%;
}
