.dashed {
  text-decoration: line-through;
}

.finish-btn {
  background-color: #57cc99;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  font-size: 16pt;
  margin-bottom: 15vh;
  margin-left: 25vw;
}