:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  --bg-img: url('/src/images/background/bg-light-center.png');
  --bg-color: #f5f5f5;
  --off-black: #141414;
  --off-white: #f5f5f5;
  --off-gray: #5c5c5c;
  --bege: #f2e7da;
  --laranja: #ff8600;
  --amarelo: #ffae0d;
}

body {
  background-color: var(--bege);
  color: var(--off-black);
  font-family: 'Raleway', sans-serif;
}

a {
  color: var(--off-black);
  text-decoration: none;
}

a:hover {
  color: var(--off-gray);
  text-decoration: none;
}

button {
  border: 0;
  background-color: none;
}

.btn-amarelo {
  background-color: var(--amarelo);
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: all 0.3s ease 0s; 
}

.btn-amarelo:hover {
  box-shadow: 0 5px 10px rgba(92, 92, 92, 0.8);
  opacity: 0.7;
  transform: translateY(-3px);
}

.loading-page {
  align-items: center;
  background-color: rgb(242, 231, 218);
  color: rgb(255, 174, 13);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.loading-text {
  font-size: 28px;
  font-weight: 500;
  padding: 1vh 2vw;
}

.loading-spin {
  height: 20rem;
  width: 20rem;
}

.notFound-page {
  max-width: 90vw;
  text-align: center;
  margin: 25vh auto;
}

.notFound-page img {
  width: 80vw; 
}

.notFound-text {
  padding-bottom: 2vh;
}

@media (min-width: 400px) {
  .notFound-page {
    margin: 8vh auto;
  }

  .notFound-page img {
    width: 40vw;  
  }

  .notFound-text {
    font-size: 60px;
    padding-bottom: 5vh;
  }
}
